{% load staticfiles %}
{% load i18n %}
{% load account socialaccount %}

{% get_current_language as LANGUAGE_CODE %}
{% get_providers as socialaccount_providers %}

<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}" dir="ltr" class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'dashboard/favicon.ico' %}" type="image/x-icon">

    <title>{% block head_title %}Moment Track{% endblock %}</title>

    <link href="{% static 'dashboard/vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/vendors/nprogress/nprogress.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/vendors/pnotify/pnotify.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/vendors/pnotify/pnotify.buttons.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/vendors/pnotify/pnotify.nonblock.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/vendors/pnotify/pnotify.mobile.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
    <link href="{% static 'dashboard/css/custom.css' %}" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        {% block body %}
            {% include 'base/sidebar.html' %}

            {# top navigation #}
            {% include 'base/top_navigation.html' %}
            {# /top navigation #}

            <div class="right_col" role="main">
                {% block content %}{% endblock %}
            </div>

            {# footer content #}
            <footer>
                <div class="pull-right">
                    &copy; Copyright 2017 Moment<strong>Track</strong>, Inc.
                    |
                    {% trans "All rights reserved" %}
                    |
                    <a href="{% url 'dashboard:privacy-policy' %}">{% trans "Privacy Policy" %}</a>
                    |
                    <a href="{% url 'dashboard:terms-of-service' %}">{% trans "Terms of Service" %}</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            {# /footer content #}

        {% endblock %}

        <script src="{% static 'dashboard/vendors/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'dashboard/vendors/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'dashboard/vendors/fastclick/fastclick.js' %}"></script>
        <script src="{% static 'dashboard/vendors/nprogress/nprogress.js' %}"></script>
        <script src="{% static 'dashboard/vendors/pnotify/pnotify.js' %}"></script>
        <script src="{% static 'dashboard/vendors/pnotify/pnotify.buttons.js' %}"></script>
        <script src="{% static 'dashboard/vendors/pnotify/pnotify.nonblock.js' %}"></script>
        <script src="{% static 'dashboard/vendors/pnotify/pnotify.mobile.js' %}"></script>
        <script src="{% static 'dashboard/vendors/pnotify/pnotify.desktop.js' %}"></script>
        {% block extra_vendor_script %}{% endblock %}
        <script src="{% static 'dashboard/js/custom.js' %}"></script>
        {% block extra_body %}
            {% if messages %}
                <script type="text/javascript">
                    <!--
                    $(function () {
                        {# Permission request to use PNotify with desktop notification #}
                        PNotify.desktop.permission();
                    });
                    //-->
                </script>
                {% for message in messages %}
                    <script type="text/javascript">
                        <!--
                        $(function () {
                            new PNotify({
                                text: '{{ message | escapejs }}',
                                text_escape: true,
                                icon: false,
                                type: 'info',
                                styling: 'bootstrap3',
                                nonblock: {nonblock: true},
                                buttons: {
                                    show_on_nonblock: true,
                                    sticker: false
                                },
                                desktop: {
                                    desktop: true,
                                    title: "Moment Track",
                                    icon: "{% static 'dashboard/favicon.ico' %}"
                                }
                            });
                        });
                        //-->
                    </script>
                {% endfor %}
            {% endif %}
        {% endblock %}
    </div>
</div>
</body>
</html>
