{% load staticfiles %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" dir="ltr" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block page-title %}Moment Track{% endblock %}</title>
    <link rel="icon" href="{% static 'website/img/favicon.ico' %}" type="image/x-icon">

    {# Core and custom stylesheets #}
    <link href="{% static 'website/css/foundation.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'website/css/app.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'website/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
    {% block custom-stylesheet %}{% endblock %}
</head>
<body>

<div class="top-bar">
    <a id="top-bar-title-link" href="{% url 'website:home' %}">
        <div class="top-bar-title">
            <img class="top-bar-title-logo" src="{% static 'website/img/logo-160x160.png' %}"/>
            Moment<strong>Track</strong>
        </div>
    </a>
    <div class="top-bar-left">
        <ul class="menu">
            {% block top-bar-left %}{% endblock %}
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            {% block top-bar-right %}
                {% if not user.is_authenticated %}
                    <li><a href="#">{% trans "Sign up" %}</a></li>
                    <li><a class="button" href="#">{% trans "Log in" %}</a></li>
                {% endif %}
            {% endblock %}
        </ul>
    </div>
</div>

{% block header %}{% endblock %}
<article class="page-content">
    {% block page-content %}{% endblock %}
</article>
{% block footer %}
    <footer class="marketing-site-footer">
        <div class="row medium-unstack">
            <div class="medium-4 columns">
                <h4 class="marketing-site-footer-name">
                    <img class="footer-title-logo" src="{% static 'website/img/logo-160x160.png' %}"/>
                    Moment<strong>Track</strong>
                </h4>
                <p>
                    {% blocktrans %}
                        The first and only solution for <i>privates</i> and <i>companies</i>
                        to know <strong>exactly</strong> and <strong>instantly</strong>
                        when the word you searched for has been pronounced
                        in your <strong>audio</strong> and <strong>video</strong> files!
                    {% endblocktrans %}
                </p>
            </div>
            <div class="medium-4 columns">
                <h4 class="marketing-site-footer-title">{% trans "Contact Info" %}</h4>
                <div class="marketing-site-footer-block">
                    <p>
                        {% blocktrans %}
                            If you have any question, please let us know!
                            Use the email address below. We will take
                            charge of you request as soon as possible!
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="marketing-site-footer-block">
                    <p>
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        info@moment-track.com
                    </p>
                </div>
            </div>
            <div class="medium-4 columns">
                <h4 class="marketing-site-footer-title">{% trans "We have support" %}</h4>
                <div class="marketing-site-footer-block">
                    <p>
                        {% trans "Problems?" %}
                        <br/>
                        {% trans "We have support staff available 24/7" %}
                    </p>
                    <div class="marketing-site-footer-block clearfix">
                        <span class="support-cartoon"></span>
                    </div>

                </div>
            </div>
        </div>
        <div class="marketing-site-footer-bottom center-content">
            <span>COPYRIGHT 2017 MOMENT TRACK</span>
            <span>{% trans "ALL RIGHTS RESERVED" %}</span>
            <a href="{% url 'website:privacy-policy' %}">{% trans "PRIVACY POLICY" %}</a>
            <a href="{% url 'website:terms-of-service' %}">{% trans "TERMS OF SERVICE" %}</a>
        </div>
    </footer>
{% endblock %}

<script type="text/javascript" src="{% static 'website/js/vendor/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/vendor/foundation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/app.js' %}"></script>
</body>
</html>