{% extends 'website/base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block header %}
    <header class="hero hero-building-blocks">
        <div class="row hero-flex">
            <div class="column hero-content">
                <h1 class="hero-header">
                    <span style="font-weight: normal;">Moment</span>Track
                </h1>
                <h2 class="hero-subheader">
                    {% blocktrans %}
                        The first and only solution for <i>privates</i> and <i>companies</i>
                        to know <strong>exactly</strong> and <strong>instantly</strong>
                        when the word you searched for has been pronounced
                        in your <strong>audio</strong> and <strong>video</strong> files!
                    {% endblocktrans %}
                </h2>
                <a href="#" class="hero-content-button">{% trans "Give it a try" %}&nbsp;›</a>
            </div>
            <div class="column hero-img">
                <img src="{% static 'website/img/logo-160x160.png' %}" alt="#">
            </div>
        </div>
    </header>
{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="medium-9 medium-centered columns">
            <h2 class="text-center">
                {% trans "Responsive design gets a whole lot faster" %}
            </h2>
            <h4 class="page-intro">
                {% blocktrans %}
                    A Framework for any device, medium, and accessibility.
                    Foundation is a family of responsive front-end frameworks that make it easy to design beautiful
                    responsive websites, apps and emails that look amazing on any device. Foundation is semantic,
                    readable, flexible, and completely customizable. We’re constantly adding new resources and
                    code snippets, including these handy HTML templates to help get you started!
                {% endblocktrans %}
            </h4>
        </div>
    </div>

    <div class="row column">
        <hr class="dotted">
    </div>

    <div class="row framework-callouts">
        <div class="medium-4 medium-offset-2 columns container-hover">
            <a href="#">
                <p class="mascote">
                    <img src="{% static 'website/img/home/private-user-icon.png' %}"/>
                </p>
                <h6>Moment Track {% trans "for" context "something FOR someone" %}</h6>
                <h2>{% trans "Privates" context "Private users" %}</h2>
                <p>
                    {% blocktrans %}
                        Moment Track is designed for private use too.<br/>
                        <br/>
                        You could use it if you are a student and want to find when the teacher explained that
                        concept in your 2-hours lesson recording.<br/>
                        Or if you are an amateur movie reviewer and you want to cut a specific scene.<br/>
                        <br/>
                        For all these needs you can sign up for a private user account.
                    {% endblocktrans %}
                </p>
                <p class="button expanded">{% trans "Sign up as private user" %}</p>
            </a>
        </div>
        <div class="medium-4 end columns container-hover">
            <a href="#">
                <p class="mascote">
                    <img src="{% static 'website/img/home/company-user-icon.png' %}"/>
                </p>
                <h6>Moment Track {% trans "for" context "something FOR someone" %}</h6>
                <h2>{% trans "Companies" %}</h2>
                <p>
                    {% blocktrans %}
                        We care about companies and their business.<br/>
                        <br/>
                        If you handle a news channel, have you ever thought about how many time (so money)
                        you waste letting your videographers manually search for a phrase in a 3-hours
                        conference video to use just a minute for your news?<br/>
                        <br/>
                        Your are just a few clicks away from save time and money.
                    {% endblocktrans %}
                </p>
                <p class="button expanded">{% trans "Sign up as company" %}</p>
            </a>
        </div>
    </div>

    <div class="row column">
        <hr class="dotted">
    </div>

    <div class="row column text-center">
        <h2>{% trans "Save time, money and stress" %}</h2>
        <h4 class="subheader">
            {% trans "Moment Track is the preferred choice for students, videographers and many others." %}
        </h4>
    </div>
    <br/>
    <br/>

    <div class="row vertical-feature-block">
        <div class="medium-3 large-3 columns">
            <p class="center-content">
                <img class="feature" src="{% static 'website/img/home/sound-wave-icon.png' %}">
            </p>
            <h3 class="feature-block-header">{% trans "Audio and video support" %}</h3>
            <p>
                {% blocktrans %}
                    You don't need to convert your audio and video files before uploading,
                    we can handle it for you. Just choose your file and click upload!
                {% endblocktrans %}
            </p>
        </div>
        <div class="medium-3 large-3 columns">
            <p class="center-content">
                <img class="feature" src="{% static 'website/img/home/target-icon.png' %}">
            </p>
            <h3 class="feature-block-header">{% trans "Quick and accurate results" %}</h3>
            <p>
                {% blocktrans %}
                    When you will make a search we will give you instantly the exact moments
                    in your file when the search query has been pronounced.
                {% endblocktrans %}
            </p>
        </div>
        <div class="medium-3 large-3 columns">
            <p class="center-content">
                <img class="feature" src="{% static 'website/img/home/iceberg-icon.png' %}">
            </p>
            <h3 class="feature-block-header">{% trans "Very easy to use, really" %}</h3>
            <p>
                {% blocktrans %}
                    You don't have to learn nothing new. Just upload your files of interest,
                    and make your search with a very easy to use user interface.
                {% endblocktrans %}
            </p>
        </div>
        <div class="medium-3 large-3 columns">
            <p class="center-content">
                <img class="feature" src="{% static 'website/img/home/installation-icon.png' %}">
            </p>
            <h3 class="feature-block-header">{% trans "No installation required" %}</h3>
            <p>
                {% blocktrans %}
                    You don't have to install any software nor any project dependency at all.
                    You just need a web browser to be ready to go!
                {% endblocktrans %}
            </p>
        </div>
    </div>
    <br/>
    <br/>

    <div class="featured-testimonials-section">
        <div class="row columns">
            <h1>{% trans "Featured in" %}</h1>
        </div>
        <div class="featured-testimonials row">
            <div class="small-12 medium-6 columns">
                <div class="testimonial">
                    <img class="profile-pic hide-for-small-only" src="{% static 'website/img/home/testimonial-1.jpg' %}">
                    <p class="featured-testimonials-quotation">
                        {% blocktrans %}
                            I'm a student and I often record 2-hours and more audio lessons.
                            When I didn't understand something and just want to listen for that
                            part it was a messy! Now with Moment Track it is just a few clicks away!
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
            <div class="small-12 medium-6 columns">
                <div class="testimonial">
                    <img class="profile-pic hide-for-small-only" src="{% static 'website/img/home/testimonial-2.jpg' %}">
                    <p class="featured-testimonials-quotation">
                        {% blocktrans %}
                            I'm a professional cameraman and video maker. Moment Track is the
                            perfect solution I was looking for. When I have to find a phrase
                            in a 3-hours conference video I spend just a few minutes with Moment Track!
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}