{% extends "base.html" %}

{% block extra_head %}
<style type="text/css">
    form input {
        width: 100%;
    }

    form input[type=checkbox],
    form input[type=radio] {
        width: auto;
    }

    ul.errorlist {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    ul.errorlist li {
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        vertical-align: baseline;
        border-radius: .25em;
        background-color: #c9302c;
        border-color: #ac2925;
        margin-bottom: 0.5rem;
    }
</style>
{% endblock %}
