{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Password Changed" %}{% endblock %}

{% block content %}
<div class="page-title"><div class="title_left"><h3>&nbsp</h3></div></div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="x_panel">
            <div class="x_title text-center">
                <h1>{% trans "Password Changed" %}</h1>
                <span>{% trans 'Your password is now changed.' %}</span>
            </div>
            <div class="x_content text-center">
                    {% url 'account_login' as login_url %}
                    {% blocktrans %}
                        You can now proceed to
                        <a href="{{ login_url }}" class="btn btn-default btn-xs">Login</a> with your new password.
                    {% endblocktrans %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
