{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="page-title"><div class="title_left"><h3>&nbsp</h3></div></div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="x_panel">
            <div class="x_title text-center">
                <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
            </div>
            <div class="x_content">
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p class="text-center">
                        {% blocktrans %}
                            The password reset link was invalid, possibly because it has already been used.<br/>
                            <br/>
                            Please request a <a href="{{ passwd_reset_url }}" class="btn btn-default btn-xs">new password reset</a>
                        {% endblocktrans %}
                    </p>
                {% else %}
                    {% if form %}
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <br/>
                            <button class="btn btn-default submit" style="width: 100%" type="submit">{% trans 'Change Password' %}</button>
                        </form>
                    {% else %}
                        <p>{% trans 'Your password is now changed.' %}</p>
                        {% url 'account_login' as login_url %}
                        {% blocktrans %}
                            You can now proceed to
                            <a href="{{ login_url }}" class="btn btn-default btn-xs">Login</a> with your new password.
                        {% endblocktrans %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
