{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign up employee" %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="x_panel">
            <div class="x_content text-center">
                {% blocktrans %}
                    By adding a new employee to your company you are granting him/her
                    the privilege of using <strong>your subscription credits</strong>
                    to elaborate files.
                {% endblocktrans %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="x_panel">
            <div class="x_title text-center">
                <h1>{% trans "Sign up employee" %}</h1>
                <span>{% trans "Insert employee's e-mail address and select his/her permissions on other employees' files" %}</span>
            </div>
            <div class="x_content">
                <form id="signup_form" method="post" action="{% url 'dashboard:signup-employee' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <br/>
                    <button class="btn btn-success" style="width: 100%" type="submit">{% trans "Add employee" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
