{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="x_panel">
            <div class="x_content text-center">
                {% blocktrans %}
                    Already have an account? Then please <a href="{{ login_url }}">Sign In</a>.
                {% endblocktrans %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-md-offset-3">
        <div class="x_panel">
            <div class="x_title text-center">
                <h1>{% trans "Sign up" %}</h1>
                <span>{% trans "as private user" %}</span>
            </div>
            <div class="x_content">
                <form id="signup_form" method="post" action="{% url 'dashboard:signup-private' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <br/>
                    <button class="btn btn-success" style="width: 100%" type="submit">{% trans "Sign Up" %}</button>
                </form>
            </div>
        </div>
    </div>

    {% if socialaccount_providers %}
        <div class="col-md-3">
            <div class="x_panel">
                <div class="x_title text-center">
                    <h1>{% trans "Social" %}</h1>
                    <span>{% trans "Just click to automatically signup" %}</span>
                </div>
                <div class="x_content text-center">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    {% include "socialaccount/snippets/login_extra.html" %}
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}
