{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="x_panel">
            <div class="x_content text-center">
                {% blocktrans %}
                    Already have an account? Then please <a href="{{ login_url }}">Sign In</a>.
                {% endblocktrans %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="x_panel">
            <div class="x_title text-center">
                <h1>{% trans "Sign up" %}</h1>
                <span>{% trans "as company user" %}</span>
            </div>
            <div class="x_content">
                <form class="signup" id="signup_form" method="post" action="{% url 'dashboard:signup-company' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <br/>
                    <button class="btn btn-success" style="width: 100%" type="submit">{% trans "Sign Up" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
