{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Connections" %}{% endblock %}

{% block content %}

<div class="page-title"><div class="title_left"><h3>&nbsp;</h3></div></div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <div class="x_panel">
            <div class="x_title text-center">
                <h1>{% trans "Remove Social Account" %}</h1>
                {% if not form.accounts %}
                    <span>{% trans 'You currently have no social network accounts connected to this account.' %}</span>
                {% else %}
                    <span>{% trans 'Click on a social account button to remove the association with Moment Track.' %}</span>
                {% endif %}
            </div>
            <div class="x_content text-center">
                {% if form.accounts %}

                    {% for base_account in form.accounts %}
                        <form method="post" action="{% url 'socialaccount_connections' %}">
                            {% csrf_token %}

                            <fieldset>
                            {% if form.non_field_errors %}
                            <div class="badge bg-red">{{ form.non_field_errors }}</div>
                            {% endif %}

                            {% with base_account.get_provider_account as account %}
                                <input type="hidden" name="account" value="{{ base_account.id }}" />
                                <button id="id_account_{{ base_account.id }}" class="btn btn-app" type="submit">
                                    <span class="badge bg-red">remove</span>
                                    <i class="fa fa-{{ account.get_brand.name | lower }}"></i>
                                    {{ account }}
                                </button>
                            {% endwith %}
                            </fieldset>
                        </form>
                    {% endfor %}

                {% else %}
                    <p class="text-center">{% trans 'Use the form on the right to add one.' %}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="x_panel">
            <div class="x_title text-center">
                <h1>{% trans 'Add Social Account' %}</h1>
                <span>{% trans 'Click on a social account button to add the association with Moment Track.' %}</span>
            </div>
            <div class="x_content text-center">
                {% include "socialaccount/snippets/provider_list.html" with process="connect" %}

                {% include "socialaccount/snippets/login_extra.html" %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
